In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!ls "/content/drive/My Drive/DATASET"

 AB_NYC_2019.csv			      iris_tree.png
 costumer_classification.csv		      jobclassinfo2.csv
 customer_data.csv			      laptop_price.csv
 Data_Depresi_untuk_preprosesing.xlsx	      Mall_Customers.csv
'Data Mutu Padi Organik.csv'		      predict_diabetes.csv
'Data Mutu Padi Organik.xls'		     'Real estate.csv'
 diabetes.csv				      Salary_Data.csv
 Fish.csv				      Social_Network_Ads.csv
 fraud_detection_train.csv		     'Sosial Network.csv'
 gender_classification_v7.csv		      winequality-red.csv
 heart_failure_clinical_records_dataset.csv   zoo2.csv
 Iris.csv				      zoo3.csv
 iris_tree.dot

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
import graphviz
import pandas as pd

#confution matrix
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [ ]:
import pandas as pd
df= pd.read_csv('/content/drive/My Drive/DATASET/heart_failure_clinical_records_dataset.csv')
df

      age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0    75.0        0                       582  ...        0     4            1
1    55.0        0                      7861  ...        0     6            1
2    65.0        0                       146  ...        1     7            1
3    50.0        1                       111  ...        0     7            1
4    65.0        1                       160  ...        0     8            1
..    ...      ...                       ...  ...      ...   ...          ...
294  62.0        0                        61  ...        1   270            0
295  55.0        0                      1820  ...        0   271            0
296  45.0        0                      2060  ...        0   278            0
297  45.0        0                      2413  ...        1   280            0
298  50.0        0                       196  ...        1   285            0

[299 rows x 13 columns]

In [ ]:
x = df. drop(columns = "DEATH_EVENT")
y = df ["DEATH_EVENT"]

In [ ]:
tree_dataset = DecisionTreeClassifier(random_state=500, max_depth=None,
                                    min_samples_split=2,
                                    min_samples_leaf=1,
                                    min_weight_fraction_leaf=0,
                                    max_leaf_nodes=None,
                                    min_impurity_decrease=0)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=500)
tree_dataset.fit(x_train, y_train)
print("x_train",x_train)
print("x_test",x_test)
print("y_train",y_train)
print("y_train",y_test)

x_train       age  anaemia  creatinine_phosphokinase  ...  sex  smoking  time
167  59.0        0                        66  ...    1        0   135
59   72.0        0                       364  ...    1        1    59
118  65.0        1                       113  ...    0        0    94
140  80.0        0                       805  ...    1        0   109
197  65.0        0                       167  ...    0        0   186
..    ...      ...                       ...  ...  ...      ...   ...
237  70.0        0                       232  ...    1        0   210
72   85.0        0                      5882  ...    1        1    72
287  45.0        0                       582  ...    0        0   250
206  40.0        1                       101  ...    0        0   187
273  42.0        0                        64  ...    1        0   245

[239 rows x 12 columns]
x_test       age  anaemia  creatinine_phosphokinase  ...  sex  smoking  time
80   70.0        0                        69  ...    0        0    75
130  53.0        1                      1808  ...    1        1   106
168  65.0        0                       582  ...    0        0   140
138  62.0        0                       281  ...    0        0   108
120  60.0        1                       737  ...    1        1    95
58   49.0        0                       789  ...    1        1    55
187  60.0        0                      1896  ...    0        0   172
205  50.0        1                       167  ...    0        0   187
192  50.0        1                       121  ...    1        0   175
193  73.0        1                       231  ...    1        1   180
204  78.0        1                        64  ...    1        1   187
156  52.0        1                        58  ...    0        0   120
252  50.0        0                       245  ...    1        0   215
112  50.0        0                       369  ...    1        0    90
179  55.0        0                       835  ...    1        1   147
85   51.0        0                        78  ...    1        0    79
98   60.0        1                       156  ...    0        0    85
238  65.0        1                       720  ...    0        0   210
124  60.0        0                       582  ...    1        0    96
63   45.0        0                       582  ...    1        0    61
290  45.0        0                       615  ...    0        0   257
162  63.0        1                       582  ...    1        1   123
114  60.0        1                       754  ...    1        0    91
137  68.0        1                       646  ...    1        0   108
74   69.0        0                       582  ...    1        1    73
1    55.0        0                      7861  ...    1        0     6
126  46.0        0                       168  ...    0        0   100
265  50.0        1                       298  ...    1        1   240
154  65.0        1                       335  ...    0        0   120
285  55.0        1                       170  ...    1        0   250
29   82.0        0                        70  ...    1        1    26
203  60.0        0                        59  ...    1        1   187
219  55.0        0                       582  ...    0        0   197
224  58.0        0                       582  ...    1        0   205
284  50.0        1                        54  ...    1        0   250
278  50.0        1                      1051  ...    0        0   246
218  68.0        1                      1021  ...    1        0   197
294  62.0        0                        61  ...    1        1   270
276  70.0        0                       618  ...    0        0   245
64   45.0        0                       582  ...    0        0    63
261  62.0        1                       655  ...    0        0   233
226  58.0        1                        57  ...    1        1   205
244  54.0        0                       582  ...    1        0   213
223  47.0        0                       582  ...    1        0   201
209  49.0        0                       972  ...    0        0   187
133  63.0        0                       193  ...    1        1   107
131  60.0        1                      1082  ...    1        0   107
257  58.0        0                       132  ...    1        0   230
5    90.0        1                        47  ...    1        1     8
54   60.0        1                       260  ...    0        1    45
169  70.0        0                       835  ...    0        0   145
111  55.0        0                        60  ...    1        1    90
195  77.0        1                       418  ...    1        0   180
100  65.0        1                       305  ...    1        0    87
79   55.0        0                       336  ...    0        0    74
0    75.0        0                       582  ...    1        0     4
251  55.0        0                       572  ...    0        0   215
70   41.0        0                       148  ...    1        1    68
279  55.0        0                        84  ...    0        0   246
41   50.0        0                       124  ...    0        1    32

[60 rows x 12 columns]
y_train 167    1
59     1
118    0
140    1
197    0
      ..
237    0
72     1
287    0
206    0
273    0
Name: DEATH_EVENT, Length: 239, dtype: int64
y_train 80     0
130    0
168    0
138    0
120    0
58     1
187    1
205    0
192    0
193    0
204    0
156    0
252    0
112    0
179    0
85     0
98     0
238    0
124    1
63     1
290    0
162    0
114    0
137    0
74     1
1      1
126    1
265    0
154    0
285    0
29     1
203    0
219    0
224    0
284    0
278    0
218    0
294    0
276    0
64     0
261    0
226    0
244    0
223    0
209    0
133    0
131    0
257    0
5      1
54     1
169    0
111    0
195    1
100    0
79     0
0      1
251    0
70     0
279    0
41     1
Name: DEATH_EVENT, dtype: int64

In [ ]:
y_pred = tree_dataset.predict(x_test)
cm= confusion_matrix(y_test, y_pred)
print(" confusion matrik sebagai beriku")
print(cm)
akurasi = classification_report(y_test, y_pred)
print("berikut ini kakurasi ")
print("akurasi", akurasi)
akurasi = accuracy_score(y_test,y_pred)
print("tingkat akurasi : %d persen" %( akurasi *100))

 confusion matrik sebagai beriku
[[42  5]
 [ 1 12]]
berikut ini kakurasi
akurasi               precision    recall  f1-score   support

           0       0.98      0.89      0.93        47
           1       0.71      0.92      0.80        13

    accuracy                           0.90        60
   macro avg       0.84      0.91      0.87        60
weighted avg       0.92      0.90      0.90        60

tingkat akurasi : 90 persen

In [ ]:
feartures =x
target= y
model=tree.DecisionTreeClassifier(random_state=0, max_depth=None,
min_samples_split=2,
min_samples_leaf=1,min_weight_fraction_leaf=0,max_leaf_nodes=None,min_impurity_decrease=0)
clf = model.fit(feartures, target)
dot_data = tree.export_graphviz(model, out_file=None,filled = True)
graph = graphviz.Source(dot_data)
graph.view()

'Source.gv.pdf'